@tailwind base;
@tailwind components;
@tailwind utilities;



#root {
  /* font-family: "Roboto", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #453081; 
}